.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__logo {
    margin-right: 94px;
}

.header__search {
    flex-grow: 1;
    margin-right: auto;
}

.header__favorite-btn {
    display: flex;
    flex-shrink: 0;
    color: #fff;
    line-height: 0;
    transition-property: color, gap;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.header__favorite-btn_like:hover,
.header__favorite-btn_like:focus,
.header__favorite-btn_exit:hover,
.header__favorite-btn_exit:focus {
    color: #1E5A32;
    outline: none;
}

.header__favorite-btn_exit {
    align-items: center;
    gap: 8px;
    font-weight: 600;
    padding: 16px 0;
}

.header__favorite-btn_exit:active {
    color: #16bf4f;
    gap: 15px;
}

@media (max-width: 1024px) {
    .header__container {
        padding: 0 22px;
    }
    .header__search {
        margin-right: 90px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 0 15px;
        max-width: 610px;
    }
    .header__logo {
        margin-right: 12px;
    }
    .header__search {
        margin-right: 0;
    }
}

@media (max-width: 560px) {
    .header {
        padding-top: 20px;
    }
    .header__container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 17px;
    }
    .header__search {
        order: 1;
        flex-basis: 100%;
    }
}
